<?xml version="1.0"?>

<launch>
    <!--使用するノード・launchなど-->
    <arg name="use_joy" default="false"/>
    <arg name="use_mapping" default="false"/>
    <arg name="use_navigation" default="false"/>
    <arg name="use_loader" default="false"/>
    <arg name="use_editor" default="false"/>
    <arg name="use_sensor" default="false"/>
    <arg name="use_icart" default="false"/>
    <arg name="use_lio" default="false"/>
    <arg name="use_unity_sim" default="false"/>
    
    <!--使用する地図・waypointファイル名-->
    <arg name="map_dir" default="$(find expo_wizurg)/map"/>
    <arg name="map_file" default="test"/>
    <arg name="way_dir" default="$(find expo_wizurg)/waypoints"/>
    <arg name="way_file" default="_waypoint"/>
    
    <!--各種パラメーターファイル-->
    <arg name="hokuyo_lio_param" default="$(find expo_wizurg)/config/hokuyo_lio.yaml" />
    <!-- <arg name="H-LIO_tf_param" default="$(find wizurg)/params/lio_params/H-LIO_TF.yaml" />
    <arg name="amcl_param_" default="$(find wizurg)/params/localization_params/amcl_params.yaml"/> -->
    <arg name="lio_localization_param" default="$(find expo_wizurg)/config/lio_localization.yaml"/>
    <arg name="sub_odom_name" default="/hokuyo_lio/sync_odom" />
    <arg name="sub_cloud_name" default="/hokuyo3d3/hokuyo_cloud2" />
    <arg name="costmap_common_param_" default="$(find expo_wizurg)/config/move_base/costmap_common_params.yaml"/>
    <arg name="local_costmap_param_" default="$(find expo_wizurg)/config/move_base/local_costmap_params.yaml"/>
    <arg name="global_costmap_param_" default="$(find expo_wizurg)/config/move_base/global_costmap_params.yaml"/>
    <arg name="move_base_param_" default="$(find expo_wizurg)/config/move_base/move_base_params.yaml"/>
    <arg name="planner_param_" default="$(find expo_wizurg)/config/move_base/dwa_local_planner_params.yaml"/>
    <arg name="icart_control_params_" default="$(find expo_wizurg)/config/icart/icart_mini_control.yaml"/>
    <arg name="icart_control_lio_params_" default="$(find expo_wizurg)/config/icart/icart_mini_control_lio.yaml"/>

    <arg name="thre_z_min" default="-2.2" />
    <arg name="thre_z_max" default= "-0.1" />
    <arg name="flag_pass_through" default= "0" />
    <arg name="thre_radius" default="0.5"/>
    <arg name="thres_point_count" default="10"/>
    <arg name="map_resolution" default="0.05"/>
    <arg name="map_topic_name" default="map"/>

    <group if="$(arg use_navigation)">
        <param name="use_sim_time" value="$(arg use_unity_sim)"/>
    </group>
    <group unless="$(arg use_navigation)">
        <param name="use_sim_time" value="false"/>
    </group>
    
     <!--センサー類-->
    <group if="$(arg use_sensor)">
    	<include file="$(find expo_wizurg)/launch/sensors.launch" />
    </group>

    <!--コントローラー-->
    <group if="$(arg use_joy)">
        <include file="$(find wizurg)/launch/teleop_joy.launch" >
            <arg name="cmd_vel" default="/icart_mini/cmd_vel"/>
        </include>
    </group>

    <!-- Unityと繋ぐ -->
    <!-- <group if="$(arg use_unity_sim)">
        <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" >
            <arg name="tcp_ip" value="$(arg pc_ip)"/>
            <arg name="tcp_port" value="$(arg pc_port)"/>
        </include>
    </group> -->
    
    <!--icart_mini_driver-->
    <group if="$(arg use_icart)">
        <group if="$(arg use_lio)">
            <include file="$(find expo_wizurg)/launch/icart_mini_drive.launch" >
                <arg name="icart_control_params" value="$(arg icart_control_lio_params_)" />
            </include>
        </group>
        <group unless="$(arg use_lio)">
            <include file="$(find expo_wizurg)/launch/icart_mini_drive.launch" >
                <arg name="icart_control_params" value="$(arg icart_control_params_)" />
            </include>
        </group>
    </group>

    <!-- LIO -->
    <group if="$(arg use_lio)">
        <!--hokuyo lio-->
        <node name="hokuyo_lio" pkg="hokuyo_lio" type="hokuyo_lio_node" output="log" >
            <rosparam command="load" file="$(arg hokuyo_lio_param)"/>
        </node>
        <!--H-LIO pose_to_odom-->
        <!-- <group if="$(arg use_mapping)">
            <node name="pose_to_tf" pkg="wizurg" type="pose_to_tf" output="log" >
                <rosparam command="load" file="$(find expo_wizurg)/params/lio_params/H-LIO_TF_gmapping.yaml" />
            </node>
        </group>
        <group unless="$(arg use_mapping)">
            <node name="pose_to_tf" pkg="wizurg" type="pose_to_tf" output="log" >
                <rosparam command="load" file="$(arg H-LIO_tf_param)" />
            </node>
        </group> -->
    </group>
       
     <!--マップサーバー-->
    <group if="$(eval use_navigation or use_loader or use_editor)">
        <param name="use_sim_time" value="false"/><!--rosbag を使うとき：True rosbagを使わないとき：false-->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_dir)/$(arg map_file).yaml" output="log" />
    </group>
    
    <!--マッピング-->
    <!-- p2o でオフライン -->
    <group if="$(arg use_mapping)">
        <group if="$(arg use_lio)">
            <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(arg map_dir)/$(arg map_file).pcd 0.1" output="screen">
                <remap from="cloud_pcd" to="map3d"/>
                <param name="frame_id" value="map" />
            </node>
            <node pkg="expo_wizurg" type="pcd_to_pgm_node" name="pcd_to_pgm_node" output="screen">
                <param name="file_directory" value= "$(arg map_dir)" />
                <!-- pcd ファイル名 -->
                <param name="file_name" value= "/$(arg map_file)" />
                <!-- 選択範囲 最小高さ -->
                <param name="thre_z_min" value= "$(arg thre_z_min)" />
                <!-- 選択範囲 最大高さ -->
                <param name="thre_z_max" value= "$(arg thre_z_max)" />
                <!--0 は高さの範囲内のものを選択し、1 は高さの範囲外のものを選択します-->
                <param name="flag_pass_through" value= "$(arg flag_pass_through)" />
                <!-- 半径フィルター半径 -->
                <param name="thre_radius" value= "$(arg thre_radius)" />
                <!-- 半径フィルタリングに必要なポイント数 -->
                <param name="thres_point_count" value= "$(arg thres_point_count)" />
                <!-- 保存されたラスターマップの解像度 -->
                <param name="map_resolution" value= "$(arg map_resolution)" />
                <!-- 変換後に公開された 2D マップのトピックは、デフォルトでマップを使用して保存できます。map_server を使用して保存できます。-->
                <param name="map_topic_name" value= "$(arg map_topic_name)" />
            </node>
        </group>
	<node pkg="rviz" type="rviz" name="mapping_rviz" args="-d $(find wizurg)/rviz/wizurg_mapping.rviz" />
    </group>
    
    <!--ナビゲーション-->
    <group if="$(arg use_navigation)">
        <group if="$(arg use_lio)">
            <node name="localization_node" pkg="expo_wizurg" type="simple_fastlio_localization_node" output="screen">
                <param name="map_file" value="$(arg map_file)"/>
                <param name="initial_pose" value="$(arg 3d_initial_pose)"/>
                <param name="frames_accumulate" value="$(arg frames_accumulate)"/>
                <param name="min_registration_interval" value="$(arg min_registration_interval)"/>
                <param name="asynchronous_registration" value="$(arg asynchronous_registration)"/> 
                <remap from="/Odometry" to="$(arg sub_odom_name)"/>
                <remap from="/cloud_registered_body" to="$(arg sub_cloud_name)" />
            </node>
	        <include file="$(find expo_wizurg)/launch/move_base.launch">
		        <arg name="cmd_vel_topic" default="/icart_mini/cmd_vel" />
                <arg name="odom_topic" default="lio_odom"/>
            </include>
            <include file="$(find expo_wizurg)/launch/pointcloud2_to_laserscan.launch">
            </include>
        </group>
        
        <!-- <group unless="$(arg use_lio)">
	    <node pkg="amcl" type="amcl" name="amcl" output="screen">
	        <rosparam file="$(find wizurg)/params/localization_params/amcl_params.yaml"/>
        </node>
        <include file="$(find wizurg)/launch/move_base.launch">
	        <arg name="cmd_vel_topic" default="/icart_mini/cmd_vel" />
	    </include>
        </group> -->
    	    <node pkg="rviz" type="rviz" name="navigation_rviz"  args="-d $(find expo_wizurg)/rviz_cfg/wizurg_navigation.rviz"/>
    </group>
    
    <!--waypoint作成(現状loaderはbashファイルから起動)-->
    <group if="$(arg use_loader)">
        <include file="$(find expo_wizurg)/launch/move_base.launch"/>
            <!-- <arg name="cmd_vel_topic" default="/dummy/cmd_vel" /> -->
        <group if="$(arg use_lio)">
            <!-- sync_lio_pc -->
            <node name="sync_lio_pc_node" pkg="sync_lio_pc" type="sync_lio_pc" >
            </node>
            <node name="localization_node" pkg="expo_wizurg" type="simple_fastlio_localization_node" output="screen">
                <rosparam command="load" file="$(arg lio_localization_param)"/>
                <remap from="/Odometry" to="$(arg sub_odom_name)"/>
                <remap from="/cloud_registered_body" to="$(arg sub_cloud_name)" />
            </node>
        <!-- <node pkg="amcl" type="amcl" name="amcl" output="screen">
            <rosparam file="$(find wizurg)/params/localization_params/lio_amcl_params.yaml"/>
        </node> -->
        </group>
        
        <!-- <group unless="$(arg use_lio)">
        <node pkg="amcl" type="amcl" name="amcl" output="screen">
            <rosparam file="$(find wizurg)/params/localization_params/amcl_params.yaml"/>
        </node>
        </group> -->
    	<node pkg="rviz" type="rviz" name="waypoint_rviz"  args="-d $(find expo_wizurg)/rviz_cfg/wizurg_loader.rviz"/>
    </group>
    <group if="$(arg use_editor)">
        <include file="$(find expo_wizurg)/launch/move_base.launch">
            <arg name="use_sim_time_" default="false"/>
            <arg name="cmd_vel_topic" default="/dummy/cmd_vel" />
        </include>
    	<node pkg="rviz" type="rviz" name="waypoint_rviz"  args="-d $(find expo_wizurg)/rviz_cfg/wizurg_loader.rviz"/>
    </group>

</launch>
 