<?xml version="1.0"?>
<launch >
  <node name="save_map_node" pkg="expo_wizurg" type="pcd_tf_transform">
      <param name="save_map" value="true" />
      <param name="sub_topic" value="/hokuyo_lio/aligned_scan_points" />
      <param name="pub_topic" value="/dummy/point_cloud" />
      <param name="target_frame" value="dummy" />
      <param name="map_dir" value="$(find test_tools)/map"/>
      <param name="map_name" value="toyonaka2_hokuyo_lio.pcd"/>
  </node>
</launch >
