<?xml version="1.0"?>

<launch>
  <arg name="model"               default="$(find xacro)/xacro '$(find expo_wizurg)/urdf/arno.xacro'"/>
  <arg name="ypspur_params"       default="$(find expo_wizurg)/config/icart/iCart3_100W.param"/>
  <arg name="icart_control_params" default="$(find icart_mini_control)/config/icart_mini_control.yaml" />
    
  <!--node name="ypspur_coordinator_bridge" pkg="wizurg" type="ypspur_coordinator_bridge" output="screen"/--> 

  <param name="robot_description" command="$(arg model)" />

  <node name="icart_mini_driver_node" pkg="icart_mini_driver" output="log" type="icart_mini_driver_node" />

  <include file="$(find expo_wizurg)/launch/icart_mini_control.launch" >
    <arg name="params" value="$(arg icart_control_params)"/>
  </include>

   <!--node name="odom_tf_publisher" pkg="odom_tf_publisher" type="odom_tf_publisher.py">
   <remap from="/odom" to="/icart_mini/odom" />
  </node-->

</launch>
