<?xml version="1.0"?>

<launch>
  <!-- Arguments -->
  <arg name="use_sim_time_" default="true"/>
  <arg name="cmd_vel_topic" default="/icart_mini/cmd_vel" />
  <arg name="odom_topic" default="/lio_odom" />
  <arg name="scan_topic" default="/hokuyo3d3/scan" />
  

  <param name="use_sim_time" value="$(arg use_sim_time_)"/>

  <!-- parameter files -->
    <arg name="costmap_common_param" default="$(find expo_wizurg)/config/move_base/costmap_common_params.yaml"/>
    <arg name="local_costmap_param" default="$(find expo_wizurg)/config/move_base/local_costmap_params.yaml"/>
    <arg name="global_costmap_param" default="$(find expo_wizurg)/config/move_base/global_costmap_params.yaml"/>
    <arg name="move_base_param" default="$(find expo_wizurg)/config/move_base/move_base_params.yaml"/>
    <arg name="planner_param" default="$(find expo_wizurg)/config/move_base/dwa_local_planner_params.yaml"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(arg costmap_common_param)" command="load" ns="global_costmap" />
    <rosparam file="$(arg costmap_common_param)" command="load" ns="local_costmap" />
    <rosparam file="$(arg local_costmap_param)" command="load" />
    <rosparam file="$(arg global_costmap_param)" command="load" />
    <rosparam file="$(arg move_base_param)" command="load" />
    <rosparam file="$(arg planner_param)" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
