<?xml version="1.0"?>

<launch>
    <arg name="pointcloud_to_laserscan_param" default="$(find expo_wizurg)/config/pc2_to_laserscan.yaml"/>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <rosparam command="load" file="$(arg pointcloud_to_laserscan_param)"/>
        <!--todo remap先の名前を構成表に合わせること-->
        <remap from="cloud_in" to="/hokuyo3d3/hokuyo_cloud2"/>
        <remap from="scan" to="/hokuyo3d3/scan"/>
    </node>
</launch>
