<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_fastlio_localization)/rviz_cfg/loc.rviz" />

    <!--params-->
    <arg name="map_file" />
    <arg name="initial_pose" default="-3.0 -1.5 0.0 0.0 0.0 0.906307787 0.422618" />
    <arg name="frames_accumulate" default="1" />
    <arg name="min_registration_interval" default="0" />
    <arg name="asynchronous_registration" default="true" />

    <!--topics-->
    <arg name="sub_odom_name" default="/hokuyo_lio/sync_odom" />
    <arg name="sub_cloud_name" default="/hokuyo3d3/hokuyo_cloud2" />

    <node name="simple_fastlio_localization_node" pkg="simple_fastlio_localization" type="simple_fastlio_localization_node" output="screen">
        <param name="map_file" value="$(arg map_file)" />
        <param name="initial_pose" value="$(arg initial_pose)" />
        <param name="frames_accumulate" value="$(arg frames_accumulate)" />
        <param name="min_registration_interval" value="$(arg min_registration_interval)" />
        <param name="asynchronous_registration" value="$(arg asynchronous_registration)" />
        <remap from="/Odometry" to="$(arg sub_odom_name)"/>
        <remap from="/cloud_registered_body" to="$(arg sub_cloud_name)" />
    </node>

</launch>

