<?xml version="1.0"?>

<launch>
    <arg name="param_file" value="$(find expo_wizurg)/config/teleop_joy.yaml"/>
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="cmd_vel" default="/icart_mini/cmd_vel"/>

    <node pkg="joy" type="joy_node" name="joy_node" >
        <param name="dev" value="$(arg joy_dev)" />
        <param name="autorepeat_rate" value="20" />
    </node>

    <node pkg="expo_wizurg" name="joy_to_twist" type="joy_to_twist" output="screen" >
        <remap from="cmd_vel" to="$(arg cmd_vel)"/>
        <rosparam file="$(arg param_file)"/>
    </node>
</launch>
